.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.details-card {
  margin: 12px;
}

.tab-action {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.mat-tab-group.mat-tab-fill-height {
  min-height: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}